#home {
    width: 100%;
    height: 90vh;
    /* padding: 12rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.highlight {}

.big-heading {
    font-size: 5.5rem;
}
