.name-text{
    font-family: 'Eczar', serif;
    margin: 20px;
        -webkit-transition: color 1s;
        /* For Safari 3.0 to 6.0 */
        transition: color 1s;
}
.name-text:hover{
    color: #7adb8c;
}